{% extends 'base.html' %}

{% block content %}
<h2>Rezept erstellen</h2>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }}<br>
        {{ form.name(size=40) }}
    </div>
    <div>
        {{ form.ingredients.label }}<br>
        {{ form.ingredients(rows=5, cols=40) }}
    </div>
    <div>
        {{ form.instructions.label }}<br>
        {{ form.instructions(rows=5, cols=40) }}
    </div>
    <div>
        {{ form.image.label }}<br>
        {{ form.image() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
